@model Battle

@using System.Runtime.InteropServices.ComTypes
@using SimpleRPG
@{
    ViewData["Title"] = "Index";
}

<h2>Battle</h2>

Battle over: <span id="battle_isOver"></span>

<h3 id="player_name"></h3><br />
HP: <span id="player_life"></span>

<h3>Monster</h3><br />
HP: <span id="enemy_life"></span>

<script type="text/javascript" src="@Url.Content("lib/jquery/dist/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("js/jquery/dist/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("js/entity.js")"></script>
<script type="text/javascript" src="@Url.Content("js/player.js")"></script>
<script type="text/javascript" src="@Url.Content("js/enemy.js")"></script>
<script type="text/javascript" src="@Url.Content("js/battle.js")"></script>
<script type="text/javascript" src="@Url.Content("js/game.js")"></script>

<script>
    $(document).ready(function() {
        initializeBattle();
    })
</script>